@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.EventTitle {
    text-align: center;
  }

.events {
  font-size: 26px;
  color:rgb(133, 127, 134);
  margin-top: 60px;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Nanum Gothic';
  font-weight: bolder;
}