@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.recruit{
    text-align: center;
}
.name-input{
    margin-top: 30px;
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.studentId-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.phoneNum-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.email-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.group-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.motive-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    min-height: 500px;
}
/* .submit{
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    border: none;
    background: indianred;
    border-radius: 5px;
} */
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 300px;
    min-width: 500px;
  }

.format{
    orientation: center;
}

.title{
    /* font-family: 'Nanum Gothic';
    font-weight: bolder; */
    padding-top: 15px;
    color: darkblue;
    font-size: 30px;
    margin-top: 3px;
    text-align: center;
}
.titlePaper{
    height: 70px;
}
.recruit{
    background: rgb(226, 223, 236);
    height: 1130px;
}
.blank{
    height: 20px;
}
.blank1{
    height: 7px;
}
.blank2{
    height: 7px;
}
.blank3{
    height: 7px;
}
.blank4{
    height: 7px;
}
.blank5{
    height: 7px;
}
.motive-input{
    margin-top: 20px;
}
.submit{
    margin-top: 20px;
    margin-bottom: 20px;
}