@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.recruit{
    text-align: center;
}
.name-input{
    margin-top: 30px;
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.studentId-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.phoneNum-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.email-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.group-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}
.motive-input{
    font-family: 'Nanum Gothic';
    width: 500px;
    min-height: 500px;
}
/* .submit{
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    border: none;
    background: indianred;
    border-radius: 5px;
} */
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 300px;
    min-width: 500px;
  }